:root{
    --bckg:#0400ff;
}

*{
    font-family: "aktiv-grotesk-std",sans-serif;
}


body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

.main{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap:20px;
}

.nav-bar{
    color: white;
    padding: 0;
    margin-left:0;
    background-color:var(--bckg);
    width: 100%;
    display: flex;
    justify-content: start;
    flex-direction: row;
    gap: 2%;
    align-items: center;
}



.box {
    overflow: hidden;
    z-index: -124;
    min-height: 600px;
    min-width: 100%;
    background-color:var(--bckg);
    /* border: 1px solid black; */
    position: relative;
    margin-top:-3%;
    margin-bottom: 10%;
}


.box:after {
    z-index: -123;
    content: ''; 
    height: 1000px;
    width: 111.421%;
    background-color: white;
    position: absolute;
    left: -1px;
    top: 886px; 
    transform: rotate(-7deg);
    /* transform-origin: 1px 1px; */
}


.main-text{
    color: white;
    margin-top: 3%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:12px;
}

.images{
    margin-bottom: -20%;
    margin-top: 4%;
    display: flex;
    justify-content: center;
}
.card-container{
    color: white;
    border-radius: 12px;
    background-color: var(--bckg);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: max-content;
    max-width: 70%;
}

.cards{
    text-align: center;
    color: black;
    margin-top:3%;
    display: grid;
    grid-template-columns: repeat(4,18%);
    justify-content: center;
    height: 100%;
    gap:40px;
    margin-bottom: 4%;
}

.info-card{
    align-items: center;
    border-radius: 12px;
    padding: 12px;
    background-color: white;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-height: max-content
}

.review-text{
    grid-area:header
}

.review-card1{
    border-radius: 12px;
    padding: 14px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.02), 0 6px 20px 0 rgba(0, 0, 0, 0.07);
    white-space: initial;
    grid-area: left;
}
.review-card2{
    border-radius: 12px;
    padding: 14px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.02), 0 6px 20px 0 rgba(0, 0, 0, 0.07);
    white-space: initial;
    grid-area: center;
}

.review-card3{
    border-radius: 12px;
    padding: 14px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.02), 0 6px 20px 0 rgba(0, 0, 0, 0.07);
    white-space: initial;
    grid-area: right;
}


.reviews{
    margin-top: 4%;
    max-width: 60%;
    display: grid;
    grid-template-areas:
        'header header header header header header'
        'left left center center right right'
        'left left center center right right';
    gap: 40px;
    background-color: white;
    padding: 10px;
}

.icons {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.plans{
    margin-top: 1%;
    display: flex;
    flex-direction: row;
    gap:40px;
    max-width: 65%;
}

.plans-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plans > *{
    white-space: initial;
    text-align: center;
}

#middle_card > *{
    color: white;
}

.plans-text-header{
    margin-top: 5%;
    text-align: center;
}

.calendar-base {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.02), 0 6px 20px 0 rgba(0, 0, 0, 0.7);
    width: 900px;
    height: 500px;
    border-radius: 20px;
    background-color: white;
    position: relative;
    z-index: -1;
    color: black;
  }

  
  .months {
    color: #AAAAAA;
    position: relative;
    left: 350px;
    top: 90px;
    word-spacing: 10px;
  }
  
  .month-line {
    border-color: #E8E8E8;
    position: relative;
    top: 85px;
    width: 57%;
    left: 178px;
  }
  
  .days {
    color: #AAAAAA;
    position: relative;
    font-size: 18px;
    left: 355px;
    top: 80px;
    word-spacing: 35px;
    font-weight: 600;
  }
  
  .num-dates {
    float: right;
    position: relative;
    top: 110px;
    right: 50px;
    z-index: 1;
  }
  
  .first-week {
    margin-bottom: 25px;
    word-spacing: 55px;
  }
  
  .second-week {
    margin-bottom: 25px;
    word-spacing: 53px;
  }
  
  .third-week {
    margin-bottom: 25px;
    word-spacing: 58px;
  }
  
  .fourth-week {
    margin-bottom: 25px;
    word-spacing: 58px;
  }
  
  .fifth-week {
    margin-bottom: 25px;
    word-spacing: 56px;
  }
  
  .sixth-week {
    margin-bottom: 25px;
    word-spacing: 55px;
  }
  

.calendar-left>*{
    position: static;
}

  .calendar-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 500px;
    border-radius: 20px 0px 0px 20px;
    background-color: #9494ff;
    position: relative;
    z-index: -1;
    bottom: 500px;
    color: white;
  }
  

  .num-date {
    font-size: 150px;
    width: 50%;
    margin: 0 auto;
    font-weight: 700;
  }
  
  .day {
    width: 50%;
    margin: 0px auto;
    font-size: 30px;
    position: static;
    bottom: 60px;
  }
  

  .create-event {
    font-size: 18px;
    position: static;
    margin-top: 30px;
    margin-left: 25px;
  }